.container {
	width: 100%;
}

#top-bar{
	background-color: #7075B3;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #B9BEFF;
	color: white;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	height: 25px;

}